# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
env/
ENV/
.venv.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test & coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Linting & type checking
.mypy_cache/
.pyre/
.pytype/
.pylint.d/

# Jupyter
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# IDE configs
.vscode/
.idea/

# Build artifacts
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Hydralog-specific
*.hyd.out
*.spice
.sim/
logs/
